/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1440px;
    margin: auto;
}

nav {
    min-width: 1100px;
    margin: 0 auto;

    height: 79px;
    gap: 0px;



}

.logo-and-navigation {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 161.09px;
    height: 79px;
    gap: 10px;

}

section img {
    margin-top: 20px;
    width: 61.09px;
    height: 19px;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav li {
    font-weight: 400;
    font-size: 0.9;
    cursor: pointer;
    position: relative;
    transition: 0.1s ease;
    padding: 20px 10px;
    border-top: solid transparent;
}

nav li:hover {
    color: #0065FC;
    border-color: #0065FC;


}



.main-container {
    width: 100%;

    padding: 0 50px;
    box-sizing: border-box;
}

.info-group {
    display: column;
    justify-content: flex-start;
    align-content: space-between;
    width: 1340px;
    height: 281px;
    gap: 35px;
}

.Headline {
    width: 1340px;
    height: Fixed 53px;
    gap: 8px;
}

.search-bar {
    display: flex;
    flex-direction: row;
    width: 377px;
    height: 49px;
    border: 1px solid;
    border-radius: 15px;
    border-color: #F2F2F2;
    gap: 24px;
    
}

.search-bar i {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: transparent;
    color: black;
    background-color: #F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 15%;
}

.search-bar input {
    text-align:center;             
    border:transparent;
    border-color: #F2F2F2;
    width: 55%;
    border-right: none;
    font-weight: 700;
    line-height: 16px;

}

input::placeholder{
    color: black;
}

.search-bar button {
    text-align: center;
    width: 30%;
    border: transparent;
    background-color: #0065FC;
    color: white;
    font-weight: 700;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}