/****** General ***********/
* {
    font-family: "Raleway", sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
}

:root {
    --main-color: #0065fc;
    --main-bg-color: #f2f2f2;
    --filter-bg-color: #deebff;
}

.fa-solid {
    color: var(--main-color);
}


body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1440px;
    margin: auto;

}

header {
    width: 1440px;
    height: 79px;

}

nav {
    min-width: 1100px;
    margin: 0 auto;

    height: 79px;
    gap: 0px;
}

.logo-and-navigation {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 161.09px;
    height: 79px;
    margin-top: 20px;
    gap: 10px;
}

.logo img {
    width: 61px;
    height: 19px;
}



nav ul {
    display: flex;
    justify-content: space-between;
}

nav li {
    font-weight: 400;
    font-size: 0.9;
    cursor: pointer;
    position: relative;
    transition: 0.1s ease;
    padding: 20px 10px;
    border-top: solid transparent;
}

nav li:hover {
    color: #0065fc;
    border-color: #0065fc;
}

.main-container {
    width: 100%;

    padding: 0 50px;
    box-sizing: border-box;
}

.info-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 1340px;
    height: 281px;
}

.Headline {
    width: 1340px;
    height: Fixed 53px;
    gap: 8px;
}

.search-bar {
    width: 400px;
    height: 50px;
    border: #f2f2f2 solid 1px;
    border-radius: 15px;
    display: flex;
    margin: 20px 0 10px 0;
}


.search-bar i {
    width: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 15px 0 0 15px;
}

#searchBar {
    font-family: 'Raleway';
    font-size: 16px;
    width: 55%;
    border: transparent;
    font-weight: 700;
    padding-left: 15px;
    outline: none;
}

::placeholder {
    color: black;
}

.search-bar button {
    width: 32%;
    border: none;
    border-radius: 0 15px 15px 0;
    background-color: #0065fc;
    color: white;
    font-weight: 700;
    cursor: pointer;
}





.filtres {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 758px;
    height: 50px;
    gap: 15px;
    opacity: 0px;
}

.filtres h3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.filtre {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 173px;
    height: 50px;

    gap: 10px;
    font-size: 17px;
    border: solid;
    border-radius: 25px;
    border-color: #f2f2f2;
    font-weight: 700;
}

.filtre i {
    width: 22px;
    height: 22px;
    padding: 2.87px 0px 2.87px 0px;
    gap: 0px;
    opacity: 0px;
}

.filtre:hover {
    background-color: #deebff;
}

.info-bar {
    display: flex;
    flex-direction: row;
    width: 1340px;
    height: 24px;
    gap: 10px;
    opacity: 0px;
}

.info-bar i {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px;
    border-color: #f2f2f2;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-size: 11px;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 871px;
    height: 614px;
    gap: 30px;
}

.hebergements-title {
    width: 811px;
    height: 26px;
}

.hebergements a {
    display: flex;
    flex-direction: column;
    justify-content: right;

}

.location-container-haut {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.location-container-bas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.locationcard {
    width: 250.33px;
    height: 207.25px;
    background-color: white;
    border: solid 5px;
    border-color: white;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    box-shadow: 1px 5px 5px rgba(8, 0, 0, 0.123);
}



.card-content {
    display: flex;
    flex-direction: column;

}

.cards-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    font-size: 14px;
    padding: 0px 10px 0px 10px;
    position: absolute;
    margin-bottom: 10px;
    gap: 8px;
    bottom: 0;
}

.locationcard img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translateY(-80px);
    position: absolute;
}

/****** Populaires ***********/
.populaires {
    display: flex;
    flex-direction: column;

    gap: 30px;
}

.populaires-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.populaires-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

.card {
    display: flex;
    flex-direction: row;
    height: 146px;
    background-color: white;
    gap: 10px;
    box-shadow: 1px 5px 5px rgba(8, 0, 0, 0.123);
 
}

.card-txt {
    width: 100%;
    font-size: 14px;
    height: 120px;

}

.card img {
    width: 120px;
    border-radius: 20px 0px 0px 20px;
}





.activites {
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    padding: 30px;
    margin-top: 40px;
    gap: 25px;
    height: 560px;
   
    
}



.activites-cards-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 439px;
    
}

   .actitites-title{
    height: 30px;
   }





.cards-activites {
    display: flex;
    flex-direction: column;
    border-radius: 20px 20px 0px 0px;
    height: 439px;
    width: 297.5px;
}

.cards-activites img {
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    position: relative;
}

.activites-card-title {

    
    padding: 20px 19px 20px 19px;
    
    border: transparent;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 1px 5px 5px rgba(8, 0, 0, 0.123);
    font-weight: 700;
    
    line-height: 18.78px;


}


footer {
    width: 1340px;
    height: 163px;
    margin-top: 100px
}



.footer-container {
    background-color: #f2f2f2;

    display: flex;
    flex-direction: row;
    justify-content: space-between;



}

.footer-cards {
    width: 446.67px;
    height: 163px;
    padding: 20px 0px 0px 0px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;

}

.footer-container h2 {

    height: 21px;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.13px;

}

.footer-container p {

    height: 19px;
    font-size: 16px;
    line-height: 18.78px;

    font-weight: 400;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media screen and (max-width: 1024px) {

    .logo-and-navigation {
        width: 950px;
        height: 79px;
    }

    .body {
        width: 1024px;
        height: 1894px;

    }

    .info-group {
        width: 924px;
        height: 322px;
    }
    .populaires{
        width: 871px;
    }

    .hebergements-and-populaires {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }


    .populaires-cards {
        display: flex;
        flex-direction: row;
        
    }
    .card img {
        width: 80px;
        border-radius: 20px 0px 0px 20px;
    }

    .activites-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width:871px;
}

.activites-container{
    width: 871px;
}



    /* Small devices (phones, less than 768px) */
    @media (max-width: 767.98px) {
        /* ... */
    }