/****** General ***********/
* {
    font-family: "Raleway", sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
}

main {
    max-width: 1440px;
    margin: auto;
}

:root {
    --main-color: #0065fc;
    --main-bg-color: #f2f2f2;
    --filter-bg-color: #deebff;
}

.fa-solid {
    color: var(--main-color);
}

body {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
}

header {
    width: 100%;
    height: 79px;
}

nav {
    margin: 0 auto;
    height: 79px;
    gap: 0px;
}

.logo-and-navigation {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 161.09px;
    height: 79px;
    margin-top: 20px;
    gap: 10px;
}

.logo img {
    width: 61px;
    height: 19px;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav li {
    font-weight: 400;
    cursor: pointer;
    position: relative;
    transition: 0.1s ease;
    padding: 20px 10px;
    border-top: solid transparent;
}

nav li:hover {
    color: #0065fc;
    border-color: #0065fc;
}

.main-container {
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
}

.info-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 281px;
}

.Headline {
    width: 100%;
    height: 53px;
    gap: 8px;
}


.search-bar {
    width: 350px;
    height: 50px;
    border: #f2f2f2 solid 1px;
    border-radius: 15px;
    display: flex;
    margin: 20px 0 10px 0;
}

.search-bar #localisation {
    width: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 15px 0 0 15px;
    color: black;
}



#searchBar {
    padding-left: 15px;
    font-family: "Raleway";
    font-size: 16px;
    width: 60%;
    border: transparent;
    font-weight: 700;
    outline: none;
    
}

::placeholder {
    color: black;
}

.search-bar button {
    justify-content: center;
    align-items: center;
    width: 35%;
    border: none;
    border-radius: 0 15px 15px 0;
    background-color: #0065fc;
    color: white;
    font-weight: 700;
    cursor: pointer;

}

#mobileButton {
    display: none;
}

.filtres {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.filtre-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}


.filtre {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 175px;
    height: 50px;
    font-size: 17px;
    border: solid;
    border-radius: 25px;
    border-color: #f2f2f2;
    font-weight: 700;
}

.filtre i {
    width: 22px;
    height: 22px;
    padding: 2.87px 0px 2.87px 0px;
}

.filtre:hover {
    background-color: #deebff;
}

.info-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 24px;
    gap: 10px;
}

.info-bar i {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px;
    border-color: #f2f2f2;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-size: 11px;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    gap: 30px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    flex: 2;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
}

.hebergements-title {
    width: 811px;
    height: 26px;
}

.hebergements a {
    display: flex;
    flex-direction: column;
    justify-content: right;


}

.location-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.locationcard {
    width: calc(33.33% - 20px);
    min-height: 207.25px;
    background-color: white;
    border: solid 5px;
    border-color: white;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    box-shadow: 1px 5px 5px rgba(8, 0, 0, 0.123);
}

.card-content {
    display: flex;
    flex-direction: column;
}

.cards-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 14px;
    position: absolute;
    margin-bottom: 10px;
    gap: 8px;
    bottom: 0;
}

.locationcard img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translateY(-80px);
    position: absolute;
}

/****** Populaires ***********/
.populaires {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.populaires-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.populaires-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

.card {
    display: flex;
    flex-direction: row;
    min-height: 149px;
    max-height: 149px;
    background-color: white;
    gap: 10px;
    box-shadow: 1px 5px 5px rgba(8, 0, 0, 0.123);
}

.card-txt {
    width: 100%;
    font-size: 14px;
    height: 120px;
}

.card img {
    width: 120px;
    border-radius: 20px 0px 0px 20px;
}

.activites {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    margin-top: 40px;
    gap: 50px;
}

.activites-cards-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;

}

.cards-activites {
    display: flex;
    flex-direction: column;
    border-radius: 20px 20px 0px 0px;
    width: 295px;
}

.cards-activites img {
    width: 100%;
    height: 80%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    position: relative;
}

.activites-card-title {
    padding: 20px 19px 20px 19px;
    border: transparent;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 1px 5px 5px rgba(8, 0, 0, 0.123);
    font-weight: 700;
    line-height: 18.78px;
}


.footer-container {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-cards {
    width: 100%;
    padding: 20px 20px 20px 20px;
    gap: 15px;
    display: flex;
    flex-direction: column;

}

.footer-container h2 {
    height: 21px;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.13px;
}

.footer-container p {
    font-size: 16px;
    font-weight: 400;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media screen and (max-width: 1024px) {
    
    .main-container {
        max-width: 1024px;
        margin: auto;
    }

    .logo-and-navigation {
        width: 100%;
        height: 79px;
    }

    .info-group {
        width: 100%;
        height: 325px;
    }

    .hebergements-and-populaires {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }



    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }



    .card img {
        width: 35%;
        border-radius: 20px 0px 0px 20px;
    }

    .activites-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }

    .activites-cards-container {
        width: 100%;
        gap: 30px;
    }

    .cards-activites {
        width: 100%;
    }

    .cards-activites img {
        width: 100%;
        
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
        position: relative;
    }

    .activites-card-title {
        height: 95px;
    }


}

/* Small devices (phones, less than 768px) */
@media screen and (max-width: 767.98px) {


    .main-container {
        width: 100%;
        padding: 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .logo-and-navigation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .logo {
        text-align: center;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .navigation ul {
        width: 100%;
        text-align: center;
    }

    .navigation li {
        width: 100%;
        border-bottom: solid #f2f2f2;
        border-top: none;
    }

    .info-group {
        width: 100%;
        margin-top: 35px;
        gap: 15px;
        justify-content: flex-start;
        padding: 15px;
    }

    .Headline {
        width: 100%;
        
    }


    .search-bar {
        width: 335px;
        margin-top: 35px;
        gap: 30px;

    }

    #desktop-button {
        display: none;
        opacity: 0%;
    }

    #mobileButton {
        margin-left: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 18%;
        background-color: #0065fc;
        border-radius: 15px;
    }

    


    .filtre-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

    }

    .filtre {
        display: flex;
        width: 150px;
        font-size: 14px;

    }

    



    .hebergements-and-populaires {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        margin-top: 120px;
        width: 100%;
        gap: 10px;
    }

    .hebergements-and-populaires section {
        border-radius: 0%;
    }

    .hebergements-and-populaires #marseille {
        background-color: white;
    }



    .populaires {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        border-radius: 0%;
    }

    .populaires-cards {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: none;
    }

    .card {
        width: 100%;
    }

    .hebergements {
        background-color: #f2f2f2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }

    .locationcard {
        width: 100%;
        height: 225px;
    }

    .activites {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
    }

    .activites-title {
        margin-top: 20px;
    }

    .activites-cards-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .cards-activites {
        min-width: 315px;
        height: 200px;
    }

    .cards-activites img {
        height: 75%;
    }



    .footer-container {
        height: 500px;
        display: flex;
        flex-direction: column;
    }
}